@model IEnumerable<SistemaAdministrativoWebMvc.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    <button  class="btn btn-primary btn-sm" asp-action="Create">Create new</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <button class="btn btn-warning btn-sm" asp-action="Edit"> <span class="fa fa-edit"></span></button>
                    <button class="btn btn-danger btn-sm" asp-action="Delete"> <span class="fa fa-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>